
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/index">Leap Recorder</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/index"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Recordings</a></li>
          <li><a href="#/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="recordings"></div>

<script type="text/javascript">
  $(function() {
    if (!Backbone.History.started) {
        window.router = new RuksiLeapRor.Routers.RecordingsRouter({recordings: <%= @recordings.to_json.html_safe -%>});
        Backbone.history.start();
    }
  });
</script>
