<div id="debugger"></div>

<script>
    Leap.loop({})
        .use('playback', {
            //recording: 'recorder/recordings/pinch-57fps.json.lz',
            requiredProtocolVersion: 6,
            pauseOnHand: true,
            loop: true
        })
        .use('riggedHand');
    window.controller = Leap.loopController;
</script>
