<div class="container">

    <div class="box box-small pull-right">

        <form id="edit-recording" name="recording">

            <div class="form-group">
                <label for="title">Name:</label>
                <input type="text" name="title" id="title" class="form-control" value="<%= title %>">
            </div>

            <% if (isRecording) { %>
                <div class="form-group">
                    <span class="btn btn-danger js-record-stop"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop Recording</span>
                </div>
            <% } else { %>
                <div class="form-group">
                    <span class="btn btn-default js-record-start"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Start Recording</span>
                </div>
            <% } %>

            <% if (isRecording || !isPlayable) { %>
                <div class="form-group">
                    <span class="btn btn-default disabled"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</span>
                </div>
            <% } else { %>
                <% if (isPlaying) { %>
                    <div class="form-group">
                        <span class="btn btn-danger js-play-stop"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Stop</span>
                    </div>
                <% } else { %>
                    <div class="form-group">
                        <span class="btn btn-default js-play-start"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</span>
                    </div>
                <% } %>
            <% } %>

            <div class="form-group">
                <label>JSON Import:</label>
                <input type="file" class="js-import-json" value="JSON File">
            </div>

            <input type="submit" class="btn btn-primary" value="Save Shadow Puppet">
            <span class="btn btn-default js-cancel-edit">Cancel</span>

        </form>

    </div>

</div>
