<div class="container">

    <div class="box">

        <h1>Gestures</h1>

        <table id="recordings-table" class="table table-hover">
            <tbody></tbody>
        </table>

    </div>

</div>
