<td class="recordings-column-active-symbol">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
</td>

<td>
  <%= title %>
</td>

<td class="recordings-column-actions">
  <a href="/<%= id %>/destroy" class="btn btn-danger js-destroy" title="Destroy">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </a>
</td>
