<div class="container">

    <div class="box box-small pull-right">

        <div class="preheading">Gesture:</div>

        <h1 class="gesture-title">
            <%= title %>
        </h1>

        <% if (isPlaying) { %>
            <span class="btn btn-danger js-play" title="Play">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
            </span>
        <% } else if (!isPlayable) { %>
            <span class="btn btn-primary disabled js-play" title="Play">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play
            </span>
        <% } else { %>
            <span class="btn btn-primary js-play" title="Play">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play
            </span>
        <% } %>

        <% if (!isPlayable) { %>
            <span class="btn btn-default disabled" title="Download JSON">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span> JSON
            </span>
        <% } else { %>
            <span class="btn btn-default js-download-json" title="Download JSON">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span> JSON
            </span>
        <% } %>

        <a href="#/<%= id %>/edit" class="btn btn-default" title="Edit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </a>

        <div class="back-link-container">
            <a href="#/index"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Gestures</a>
        </div>

    </div>

</div>