/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// overwrite default Bootstrap colors
$box-bg: #ffffff;
$navbar-default-bg: $box-bg;
$navbar-default-color: #555555;
$navbar-default-brand-color: #555555;
$navbar-default-brand-hover-color: #742a94;
$navbar-default-link-color: #555555;
$navbar-default-link-hover-color: #742a94;
$table-bg-hover: #e9dbf8;
$table-border-color: $box-bg;
$btn-primary-bg: #903bb4;
$btn-primary-border: darken($btn-primary-bg, 20%);

@import "bootstrap-sprockets";
@import "bootstrap";

$box-border-color: $navbar-default-border;
$box-border-radius: $navbar-border-radius;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}
canvas {
  background: #f3edf8;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; // Move canvas behind all elements.
}

.playback-move-hand {
  display: none;
}

.preheading {
  color: $text-muted;
  margin-bottom: -18px;
  font-weight: bold;
  font-style: italic;
}

.box {
  padding: 20px 20px 20px 20px;
  background-color: $box-bg;
  border: 1px solid $box-border-color;
  @media (min-width: $grid-float-breakpoint) {
    border-radius: $box-border-radius;
  }
}

.box-small {
  display: inline-block;
  width: 300px;
  @media (max-width: $grid-float-breakpoint) {
    display: block;
    width: 100%;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
  &.recordings-column-active-symbol,
  &.recordings-column-actions {
    text-align: center;
  }
  &.recordings-column-active-symbol {
    font-size: 22px;
    line-height: 22px;
    color: darken($box-bg, 10%);
    width: 35px;
    padding-left: 15px;
    padding-top: 10px;
  }
  &.recordings-column-actions {
    width: 55px;
  }
}

.table.table-hover > tbody > tr {

  $dur: 200ms;
  -webkit-transition: background-color $dur linear;
  -moz-transition: background-color $dur linear;
  -o-transition: background-color $dur linear;
  transition: background-color $dur linear;

  & > td.recordings-column-active-symbol {
    -webkit-transition: color $dur linear;
    -moz-transition: color $dur linear;
    -o-transition: color $dur linear;
    transition: color $dur linear;
  }
  &:hover {
    cursor: pointer;
    color: invert($table-bg-hover);
    & > td.recordings-column-active-symbol {
      text-shadow: 0 -1px 6px darken($table-bg-hover, 15%);
      color: darken($table-bg-hover, 30%);
    }
  }
}
