<!DOCTYPE html>
<html>
<head>

  <title>RuksiLeapRor</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r65/three.js"></script>
  <script src="//js.leapmotion.com/leap-0.6.0.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.6.js"></script>
  <script src="//js.leapmotion.com/leap.rigged-hand-0.1.4.js"></script>
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico?v=2">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>

  <div class="container">
    <div id="debugger"></div>
  </div>

  <script>
    if (!window.controller) {
      Leap.loop({})
        .use('playback', {
          //recording: 'recordings/pinch-57fps.json.lz',
          requiredProtocolVersion: 6,
          pauseOnHand: true,
          loop: true
        })
        .use('riggedHand');
      window.controller = Leap.loopController;
      window.getPlayer = function() { return window.controller.plugins['playback'].player };
    }
  </script>

</body>
</html>
