<!DOCTYPE html>
<html>
<head>

  <title>Shadow Puppets</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.js"></script>
  <script src="//js.leapmotion.com/leap-0.6.4.min.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.10.min.js"></script>
  <script src="//js.leapmotion.com/leap.rigged-hand-0.1.7.min.js"></script>
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico?v=3">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
      LeapWrap.get(); // initializes LeapWrap even on pages without any Leap functionality e.g. index
  </script>

</head>
<body>

  <%= yield %>

</body>
</html>
